
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	flex-wrap:wrap;
}
.holder div{
	background-color:black;
	color:white;
	border:2px solid black;
	padding:20px;
	margin:20px;
	border-radius:10px;
}